*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


#site_header{
    height: 100px;
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-size: 30% ;
    
    
     
}

#logo{
 width: 200px; 
 height: 130px;   
 
}

h1{
   font-size: 40px; 
}

#site_main{
    margin: 20px 10px;
}

#autore{

    color:#8e8e8e;
}

#booleaner{

    color: #30afe7;
}

#data{

    font-size: 12px;
}

#photo_description{

   font-size: 12px; 
}