*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


#site_header{
    height: 100px;
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-size: 30% ;
    
    
     
}

#logo{
 width: 200px; 
 height: 130px; 
 margin-left: 10px;  
 
}

h1{
   font-size: 40px; 
}

#site_main{
    margin: 10px;
}

#autore{

    color:#8e8e8e;
}

#booleaner{

    color: #30afe7;
}


.small{

    font-size: 12px; 
}

.space{

    margin-top: 20px;

}
ul{


    margin-left: 12px;
}

.subtitled{

background: #ffff00;



}

table{

border-collapse: collapse;

}


thead{
    background-color:#20a9e5 ;
    



}

th{
    width: 500px;
    text-align: left;
    color: rgb(255, 255, 255);
}

.tbody{

        background-color:#20aae57d ;
}